body{
	font-family: 'Poiret One', cursive;
	font-weight: bold;
}
/*.breadcrumb li:first-child{
	margin-left: 23px;
} 
.breadcrumb{
	margin-top: 31px;
	margin-bottom: 0px;
	padding: 0px;
	background-color: #FFF;
	margin-left: 189px;
} */

a.active{
    color: #777;
    text-decoration: none;
}

a:focus{
    color: #777
    text-decoration: none;
}

a{
   text-decoration: none;
}

.carousel-control.left, .carousel-control.right{
	background-image: none !important;
}
#homeBlock{
	/*background-image: url('../img/word.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 800px;*/
}
.navbar-brand{
	padding: 0px 0px !important;
}

.footer {
    text-align: center;
    padding: 30px 0px;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: rgb(238, 238, 238);
}
.img-contactus {
	width: 40px;
}

.a-img-contactus{
	margin-right: 30px;
}

.text-main-home{
	text-align: center;
	color: #333; 
}

.test{
	border-top: 1px solid rgb(238, 238, 238);
	margin-top: 32px;
	background-color: rgb(238, 238, 238);
	padding-bottom: 18px;
}

.txt-title{
	text-shadow: 4px 4px rgb(238, 238, 238);
	margin-right: 30px;
	margin-top: 9px;
}

.sub-title{
    padding: 8px
}

.txt-lang{
	position: absolute;
	top: 31px;
	right: 115px;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.navbar-default{
	background-color: #fff;
	border-color: #fff;
}

li.activeC, a.activeC, .activeC{
	/*background-color: rgba(233, 42, 42, 0.2);*/
	color: rgb(233, 42, 42) !important;
}

.nav > .activeC > a, .nav > .activeC > a:hover, .nav > .activeC > a:focus { 
outline: 0 !important;
}

/*.bs-callout + .bs-callout {
    margin-top: -5px;
}*/

.bs-callout-danger {
    border-left-color: #e92a2a !important;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #EEE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
}

.hightlight-txt{
	color:#e92a2a;
}

#gmap_canvas img{
	max-width:none!important;
	background:none!important
}




