body{
	font-family: 'Ubuntu', sans-serif;
}
/*.breadcrumb li:first-child{
	margin-left: 23px;
} 
.breadcrumb{
	margin-top: 31px;
	margin-bottom: 0px;
	padding: 0px;
	background-color: #FFF;
	margin-left: 189px;
} */

a.active{
    color: #777;
    text-decoration: none;
}

a:focus{
    color: #777
    text-decoration: none;
}

a{
   text-decoration: none;
}

.carousel-control.left, .carousel-control.right{
	background-image: none !important;
}
#homeBlock{
	/*background-image: url('../img/word.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 800px;*/
}
.navbar-brand{
	padding: 0px 0px !important;
}

.footer {
    text-align: center;
    padding: 30px 0px;
    border-top: 1px solid #E5E5E5;
    background-color: rgb(238, 238, 238);
}
.img-contactus {
	width: 40px;
}

.a-img-contactus{
	margin-right: 30px;
}

.text-main-home{
	/*background-image: url('../img/left_quote.png'), url('../img/right_quote.png');
	background-repeat:	no-repeat, no-repeat;
	background-position: 10px 18px, 319px 132px;*/
	color: #333; 
	/*padding-left: 52px;
	padding-top: 8px;*/
}

.text-main-home p{
	font-size: 18px;
}

.test{
	border-top: 1px solid rgb(238, 238, 238);
	margin-top: 32px;
	background-color: rgb(238, 238, 238);
	padding-bottom: 18px;
}

.txt-title{
	margin-right: 30px;
	margin-top: 9px;
}

.sub-title{
    padding: 8px
}

.txt-lang{
	position: absolute;
	top: 31px;
	right: 115px;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.navbar-default{
	background-color: #fff;
	border-color: #fff;
}

li.activeC, a.activeC, .activeC{
	/*background-color: rgba(233, 42, 42, 0.2);*/
	color: rgb(233, 42, 42) !important;
}

.nav > .activeC > a, .nav > .activeC > a:hover, .nav > .activeC > a:focus { 
outline: 0 !important;
}

/*.bs-callout + .bs-callout {
    margin-top: -5px;
}*/

.bs-callout-danger {
    border-left-color: #e92a2a !important;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #EEE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
}

.hightlight-txt{
	color:#e92a2a;
}

#gmap_canvas img{
	max-width:none!important;
	background:none!important
}

.row.br-t-b{
	padding: 40px 0px;
}

.row.br-t-b.odd{
	background-color: rgb(250, 250, 250);
}

.row.follow-me{
	text-align:center ;
	margin-bottom: 20px;
}

.top-right{
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
}

.h10{
	height: 15px;
}

.fade {
  height: 0;
  width: 0;
  background-color: transparent;
  top:50%;
  left: 50%;
}

.style1{
	color: #0c76cf;
}
.style2{
	color: #e86f45;
}

.site__title {
    color: #f35626;
    /*-moz-animation: hue 60s infinite linear;*/
    /*background-image: -moz-linear-gradient(92deg,#f35626,#feab3a);*/
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}

.head-style{
	padding: 0rem;
    margin-bottom: -2rem;
    display: block;
}

.butt {
    border: 2px solid #f35626;
    line-height: 1.375;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 700;
    color: #f35626;
    cursor: pointer;
    animation: hue 60s infinite linear;
}

.border-animate{
  border: 2px solid #f35626;
  -webkit-animation: hue 60s infinite linear;
  animation: hue 60s infinite linear;
}

.border-bottom-only-animate{
  border-bottom: 2px solid #f35626;
  -webkit-animation: hue 60s infinite linear;
  animation: hue 60s infinite linear;
}

.bad-smile{
  color: #e92a2a;
  -webkit-animation: hue 60s infinite linear;
  animation: hue 60s infinite linear;
}

.butt, .input {
    padding: .75rem;
    margin: .375rem;
    background-color: transparent;
    border-radius: 4px;
}

.maximumH{
  max-height: 100rem;
}

.maximumHead{
  max-height: 6rem;
}

@media (min-width: 650px) {
  .mega {
    font-size: 4rem;
    line-height: 1;
    margin-top: 0rem;
  }
}

/*@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}*/

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}





