</br>
</br>
<div class="container">
	<div class="container-fluid">
		<!-- <div id="map" style="margin: 0px auto; display: block; text-align:center">
			<iframe width="750" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.th/maps/ms?msa=0&amp;msid=205184476335962270114.0004f6d285fd414fb8dcd&amp;hl=en&amp;ie=UTF8&amp;ll=13.786476,100.66644&amp;spn=0,0&amp;t=m&amp;output=embed"></iframe><br /> <a href="https://maps.google.co.th/maps/ms?msa=0&amp;msid=205184476335962270114.0004f6d285fd414fb8dcd&amp;hl=en&amp;ie=UTF8&amp;ll=13.786476,100.66644&amp;spn=0,0&amp;t=m&amp;source=embed" style="color:#0000FF;text-align:left"></a>
		</div> -->
		<div style='overflow:hidden;height:400px;width:520px;'>
			<div id='gmap_canvas' style='height:400px;width:520px;'></div>
		</div>
	</div>

	</br>

	<div class="bs-callout bs-callout-danger"> 
		<h3 class="hightlight-txt"><b>Address</b></h3> 
		<p>48/711 หมู่4 บึงกุ่ม หมู่บ้าน คลองกุ่มนิเวศน์</p>
		<p>ซอย เสรีไทย 41</p>
		<p>แขวง คลองกุ่ม เขต บึงกุ่ม</p>
		<p>กรุงเทพมหานคร</p>
		<p> 10240</p>
		<p>Tel. 02 720 7022</p>
		<p>e-mail : dorgkum@gmail.com</p>
	</div>


	<div class="row" style="text-align:center">
		<a class="a-img-contactus" href="https://www.facebook.com/dorgkum.granite" target="_blank"><img src="img/facebook.png" class="img-contactus"></a>
		<a class="a-img-contactus" href="http://instagram.com/" target="_blank"><img src="img/Instagram.png" class="img-contactus"></a>
		<a class="a-img-contactus" href="https://twitter.com/MilkybunnyYo" target="_blank"><img src="img/twitter.png" class="img-contactus"></a>
		<a class="a-img-contactus" href="https://www.youtube.com/user/uuptome" target="_blank"><img src="img/youtube.png" class="img-contactus"></a>
	</div>
<!-- </div> -->
</div>

<script type='text/javascript'>
	function init_map(){
	var myOptions = {
		zoom:12,center:new google.maps.LatLng(13.786476,100.66644),
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
	marker = new google.maps.Marker({
		map: map,position: new google.maps.LatLng(13.786476,100.66644)
	});
	infowindow = new google.maps.InfoWindow({
		content:'<strong>Dorgkum</strong><br>Serithai<br>10240 Bangkok<br>'
	});
	google.maps.event.addListener(marker, 'click', function(){
		infowindow.open(map,marker);
	});
	infowindow.open(map,marker);}
	google.maps.event.addDomListener(window, 'load', init_map);
</script>
