<div class="container animated fadeIn">
	<blockquote>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
	  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
	</blockquote>
	<div style="height: 305px">
	    <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
	      <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
	        <img ng-src="{{slide.image}}" style="margin:auto;">
	        <div class="carousel-caption">
	          <h4>Slide {{slide.id}}</h4>
	          <p>{{slide.text}}</p>
	        </div>
	      </uib-slide>
	    </uib-carousel>
	</div>
</div>