
<div class="container">
	<div class="container-fluid">
		<div id="homeBlock" class="row">
			<div class="container-fluid">
				<div class="row text-main-home">
			        <h3>" <b><span style="color:#e92a2a">Dorgkum Company Limited</span></b> is a congruent concentration of Thai
					engineers</h3>
				 	<h3>possessing knowledge, ability, concept, principle and </h3>
				 	<h3>practice providing real professional engineering services in design and construction."</h3>
				</div>
			</div>
	  	</div>
	</div>
</div>



