<div class="animated fadeIn" style=" position: relative;">
	<div class="row">
		<div class="container">
			<div class="container-fluid">
				<div class="col-md-8 bad-smile">
					<img class="animated flash" src="img/badsmile.png">
				</div>
			</div>
		</div>
	</div>
	<div class="row br-t-b">
		<div class="container">
			<div class="container-fluid">
				<div class="col-md-4">
					
				</div>
				<div class="col-md-8">
					<div class="text-main-home">
				        <h3><span style="color:#e92a2a">Dorgkum Company Limited</span></h3>
				        <p>is a congruent concentration of Thai engineers
					 	possessing knowledge, ability, <br>concept, principle and
					 	practice providing real professional engineering services 
					 	<br>in design and construction."</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



