<div class="container animated fadeIn "> 
	<!-- <div class="row text-center mar-bot2">
		<img class="animated bounceIn infinite display-inline" src="img/cake.png">
	</div> -->
	<!-- <div class="row text-center">
		<img class="animated bounceIn infinite sand-cake" ng-src="img/cake.png"/>
	</div> -->
	<div class="bad-smile text-center">
		<img class="animated bounce infinite" src="img/cake.png">
	</div>
	
	<div class="row text-center mar-bot2">
		<img class="animated swing infinite display-inline" src="img/super_man.png">
	</div>
	<div class="row text-center bad-smile">
		<h3>{{greeting}}</h3>
	</div>
</div>
