<div class="container">
	<center>
		<h1 style="color:#777777">
			<span class="hightlight-txt">H</span>appy 
			<span class="hightlight-txt">B</span>irth 
			<span class="hightlight-txt">D</span>ay
		</h1>
	</center>

	<div class="row text-center">
		<img src="img/happy-birthday-round-cake.jpg" width="50%">
	</div>
	
   	<h3 class="text-center" ng-style=color>{{greetingTaew}}</h3>
	
	<iframe width="90%" height="70%" src="https://www.youtube.com/embed/ToASX6axGuw?rel=0&amp;autoplay " frameborder="0" allowfullscreen></iframe>
</div>