<div class="container">
	<center>
		<h1 style="color:#777777">
			<span class="hightlight-txt">H</span>appy 
			<span class="hightlight-txt">B</span>irth 
			<span class="hightlight-txt">D</span>ay
		</h1>
	</center>
	<div class="row">
		<div class="h10 col-md-2 col-xs-2" ng-style=bgcolor1>
			
		</div>
		<div class="h10 col-md-2 col-xs-2" ng-style=bgcolor2>
			
		</div>
		<div class="h10 col-md-2 col-xs-2" ng-style=bgcolor3>
			
		</div>
		<div class="h10 col-md-2 col-xs-2" ng-style=bgcolor4>
			
		</div>
		<div class="h10 col-md-2 col-xs-2" ng-style=bgcolor5>
			
		</div>
		<div class="h10 col-md-2 col-xs-2" ng-style=bgcolor6>
			
		</div>
	</div>

	<div id="cakeTaew" class="row text-center">
		<img ng-mousedown="mouseD($this)" ng-src="{{imgPath}}" width="40%">
	</div>

	<div id="owl-demo" class="owl-carousel"></div>

	<!-- <div id="mainTaew" class="owl-carousel text-center">
		    <div class="item"><img src="img/un1.jpg" alt="Lazy Owl Image"></div>
		    <div class="item"><img src="img/un2.jpg" alt="Lazy Owl Image"></div>
		    <div class="item"><img src="img/un3.jpg" alt="Lazy Owl Image"></div>
		    <div class="item"><img src="img/un4.jpg" alt="Lazy Owl Image"></div>
		    <div class="item"><img src="img/un5.jpg" alt="Lazy Owl Image"></div>
		    <div class="item"><img src="img/un6.jpg" alt="Lazy Owl Image"></div>
		    <div class="item"><img src="img/un7.jpg" alt="Lazy Owl Image"></div>
		    <div class="item"><img src="img/un8.jpg" alt="Lazy Owl Image"></div>
		    <div class="item"><img src="img/un9.jpg" alt="Lazy Owl Image"></div>
	</div> -->
	
   	<h3 class="text-center" ng-style=color>{{greetingTaew}}</h3>

<!-- 	<div class="hidden-sm text-center">
			<iframe id="ytplayer" type="text/html" width="320" height="195"
  src="http://www.youtube.com/embed/aE0eV2YR51k?autoplay=1&origin=http://example.com"
  frameborder="0"/>
	</div> -->

	<div id="player"></div>
</div>