
	<div class="row">
		<!--  <div class="col-xs-12 col-sm-6 col-md-8">
		 	<img class="animated fadeInUp display-inline view-img" ng-src="img/view3.png" ng-click="cView();"/>
		 	<img class="animated fadeInUp display-inline view-img" ng-hide="isShow" ng-src="img/view3.png" ng-click="cView();"/>
		 	<img class="animated fadeInUp display-inline view-img" ng-hide="!isShow" ng-src="img/view.jpg" ng-click="cView();"/>
		 </div>	 -->
		<div class="col-xs-4 view-no-pading">
			<img class="animated fadeInUp view-img " ng-src="img/view3.png" ng-hide="isShow1"/>
		</div>
		<div class="col-xs-4 view-no-pading">
			<img class="animated fadeInUp view-img" ng-src="img/view3.png" ng-hide="isShow2"/>
		</div>
		<div class="col-xs-4 view-no-pading">
			<img class="animated fadeInUp view-img" ng-src="img/view3.png" ng-hide="isShow3"/>
		</div>
	
		<div class="col-xs-4 view-no-pading">
			<img class="animated fadeInUp view-img" ng-src="img/view3.png" ng-hide="isShow4"/>
		</div>
		<div class="col-xs-4 view-no-pading">
			<img class="animated fadeInUp view-img" ng-src="img/cake.png" ng-click="randomShow();"/>
		</div>
		<div class="col-xs-4 view-no-pading">
			<img class="animated fadeInUp view-img" ng-src="img/view3.png" ng-hide="isShow5"/>
		</div>

		<div class="col-xs-4 view-no-pading">
			<img class="animated fadeInUp view-img" ng-src="img/view3.png" ng-hide="isShow6"/>
		</div>
		<div class="col-xs-4 view-no-pading">
			<img class="animated fadeInUp view-img" ng-src="img/view3.png" ng-hide="isShow7"/>
		</div>
		<div class="col-xs-4 view-no-pading">
			<img class="animated fadeInUp view-img" ng-src="img/view3.png" ng-hide="isShow8"/>
		</div>
		
	</div>
