
	<div class="row">
		<!--  <div class="col-xs-12 col-sm-6 col-md-8">
		 	<img class="animated fadeInUp display-inline view-img" ng-src="img/view3.png" ng-click="cView();"/>
		 	<img class="animated fadeInUp display-inline view-img" ng-hide="isShow" ng-src="img/view3.png" ng-click="cView();"/>
		 	<img class="animated fadeInUp display-inline view-img" ng-hide="!isShow" ng-src="img/view.jpg" ng-click="cView();"/>
		 </div>	 -->
		 <div class="col-xs-1 view-no-pading">
			
		</div>
		<div class="col-xs-10 view-no-pading">
			<img class="animated fadeInUp view-img" ng-src="img/view3.png" ng-hide="isShow5"/>
		</div>
		<div class="col-xs-1 view-no-pading">
			
		</div>
	</div>
	<div class="row">
		<div id="opt-view" class="love-view">
			 <div class="bad-smile text-center">
				<img class="animated bounce infinite" src="img/cake.png">
			</div>
		 	<!-- <div class="row text-center mar-bot2">
				<img class="animated  jello infinite display-inline" src="img/grimace.png">
			</div> -->
			<div class="row text-center bad-smile">
				<h3 style="font-size : 30px">{{greeting}}</h3>
			</div>	
		</div>
	</div>
