</br>
</br>
<div class="container animated fadeIn" ng-swipe-left="gotoNextPage('home');" ng-swipe-right="gotoNextPage('contactus');">
<div class="row text-center">
		<div class="container">
			<div class="bad-smile">
				<img class="animated shake infinite" src="img/cry.png">
			</div>
			<div class="col-md-4">
				
			</div>
		</div>
	</div>
	<!-- <div class="container-fluid">
		<div id="owl-demo" class="owl-carousel">
	      <div class="item"><img class="lazyOwl" data-src="img/img1.jpg" alt="Lazy Owl Image"></div>
	      <div class="item"><img class="lazyOwl" data-src="img/img2.jpg" alt="Lazy Owl Image"></div>
	      <div class="item"><img class="lazyOwl" data-src="img/img3.jpg" alt="Lazy Owl Image"></div>
	      <div class="item"><img class="lazyOwl" data-src="img/img4.jpg" alt="Lazy Owl Image"></div>
	      <div class="item"><img class="lazyOwl" data-src="img/img5.jpg" alt="Lazy Owl Image"></div>
	    </div>
	</div> -->

	<!-- <div class="owl-carousel">
	    <div class="item"><img src="img/img1.jpg" alt="Lazy Owl Image"></div>
	    <div class="item"><img src="img/img1.jpg" alt="Lazy Owl Image"></div>
	    <div class="item"><img src="img/img1.jpg" alt="Lazy Owl Image"></div>
	    <div class="item"><img src="img/img1.jpg" alt="Lazy Owl Image"></div>
	    <div class="item"><img src="img/img1.jpg" alt="Lazy Owl Image"></div>
	    <div class="item"><img src="img/img1.jpg" alt="Lazy Owl Image"></div>
	    <div class="item"><img src="img/img1.jpg" alt="Lazy Owl Image"></div>
	    <div class="item"><img src="img/img1.jpg" alt="Lazy Owl Image"></div>
	    <div class="item"><img src="img/img1.jpg" alt="Lazy Owl Image"></div>
	    <div class="item"><img src="img/img1.jpg" alt="Lazy Owl Image"></div>
	    <div class="item"><img src="img/img1.jpg" alt="Lazy Owl Image"></div>
	    <div class="item"><img src="img/img1.jpg" alt="Lazy Owl Image"></div>
	</div> -->
</div>